@import '../partials/variables';
@import '../partials/mixins';

.content-wrap {
    background: $bg-color;
    overflow: hidden;
    
    .column {
        padding: 0;
        margin: 20px;
        background: #ccc;
        padding-bottom: 9999px;
        margin-bottom: -9999px;
        
        .sidebar-container {
            padding: 0;
            width: 90%;
            margin: 20px 5%;
            
            ul.sidebar-list {
                li {
                    @include border-radius(0px);
                    padding: 10px 30px;
                    position: relative;
                    
                    div.auction-img-small {
                        text-align: center;
                        width: 80px;
                        float: left;
                        
                    }
                    img {
                        width: 70px;
                        height: auto;
                        margin-right: 10px;
                    }
                }
            }
        }
    }   
}


.wall-avatar {
    height: 40px;
    width: 40px;
}

.wall-auction, .wall-post {
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
}

.wall-auction-img {
    width: 150px;
    height: auto;
    float: left;
    margin-right: 10px;
}

.category-tag {
    a {
        color: white;
        background: black;
        padding: 1px 5px;
        @include border-radius(4px);
    }
}

.post-form {
    margin-bottom: 20px;
}

.more-trigger {
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #333;
    color: white;
    margin-bottom: 10px;
    
    &:hover {
        background-color: #555;
        cursor: pointer;
    }
}