@import '../partials/variables';
@import '../partials/mixins';

.content-wrap {
    background: $bg-color;
    overflow: hidden;
    
    .column {
        padding: 0;
        margin: 20px;
        background: #ccc;
        padding-bottom: 9999px;
        margin-bottom: -9999px;
        
        .sidebar-container {
            padding: 0;
            width: 90%;
            margin: 20px 5%;
            
            ul.sidebar-list {
                li {
                    @include border-radius(0px);
                    padding: 10px 30px;
                    position: relative;
                    
                    div.auction-img-small {
                        text-align: center;
                        width: 80px;
                        float: left;
                        
                    }
                    img {
                        width: auto;
                        height: 45px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }   
}
