/* line 6, assetic_compassYcP0XB.scss */
div.single-auction .row {
  overflow: hidden;
}
/* line 9, assetic_compassYcP0XB.scss */
div.single-auction .row [class*="col-"] {
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}
/* line 15, assetic_compassYcP0XB.scss */
div.single-auction .address-row {
  margin-bottom: 20px;
}
/* line 19, assetic_compassYcP0XB.scss */
div.single-auction .auction-image {
  text-align: center;
  display: table-row;
  vertical-align: middle;
}
/* line 24, assetic_compassYcP0XB.scss */
div.single-auction .auction-image img {
  vertical-align: middle;
  max-height: 300px;
  max-width: 100%;
}
/* line 31, assetic_compassYcP0XB.scss */
div.single-auction .auction-meta {
  padding-top: 20px;
  font-size: 20px;
}
/* line 36, assetic_compassYcP0XB.scss */
div.single-auction .auction-description {
  padding: 40px 20px;
  font-size: 18px;
}
/* line 42, assetic_compassYcP0XB.scss */
div.single-auction .auction-views p {
  padding: 10px;
  background: #ccc;
  font-weight: bold;
  font-size: 15px;
}
/* line 51, assetic_compassYcP0XB.scss */
div.single-auction .auction-category span {
  margin: 10px 0;
  text-align: center;
  background: #333;
  display: block;
  color: white;
  width: 300px;
  padding: 10px;
}
/* line 63, assetic_compassYcP0XB.scss */
div.single-auction .auction-bids .highest-bid {
  background: black;
  color: white;
  padding: 2px 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
/* line 70, assetic_compassYcP0XB.scss */
div.single-auction .auction-bids h3 {
  background: #ccc;
  padding: 10px;
}
/* line 75, assetic_compassYcP0XB.scss */
div.single-auction .auction-bids h4 {
  font-weight: bold;
}
/* line 79, assetic_compassYcP0XB.scss */
div.single-auction .auction-bids .bid-price, div.single-auction .auction-bids .bid-date {
  font-weight: bold;
}
/* line 85, assetic_compassYcP0XB.scss */
div.single-auction .auction-new-bid h3 {
  background: #ccc;
  padding: 10px;
}
/* line 92, assetic_compassYcP0XB.scss */
div.single-auction .auction-address h3 {
  background: #ccc;
  padding: 10px;
}
/* line 99, assetic_compassYcP0XB.scss */
div.single-auction .auction-address-map h3 {
  background: #ccc;
  padding: 10px;
}
