/* line 6, assetic_compassOM87Tu.scss */
span.text-label {
  font-weight: bold;
}

/* line 10, assetic_compassOM87Tu.scss */
.list-group-item:hover {
  background-color: #ccc;
}

/* line 14, assetic_compassOM87Tu.scss */
.auction-entry {
  font-size: 16px;
}
/* line 16, assetic_compassOM87Tu.scss */
.auction-entry h4 {
  font-weight: bold;
  font-size: 24px;
  display: block;
}
/* line 21, assetic_compassOM87Tu.scss */
.auction-entry h4 a {
  display: block;
}

/* line 27, assetic_compassOM87Tu.scss */
.auction-meta {
  color: #333;
  font-weight: bold;
}

/* line 32, assetic_compassOM87Tu.scss */
img.thumbnail-image {
  max-height: 200px;
  text-align: left;
  position: relative;
  z-index: 899;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* line 40, assetic_compassOM87Tu.scss */
.thumb-show {
  height: auto;
  display: inline-block;
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}

/* line 46, assetic_compassOM87Tu.scss */
div.auction-image {
  position: relative;
}
/* line 49, assetic_compassOM87Tu.scss */
div.auction-image a {
  display: inline-block;
  float: left;
  margin-right: 20px;
  height: 100%;
}
