/* line 1, assetic_compass9f5VkO.scss */
.admin-title {
  text-transform: uppercase;
}

/* line 5, assetic_compass9f5VkO.scss */
.user-list li img {
  height: 50px;
  width: 50px;
}

/* line 10, assetic_compass9f5VkO.scss */
.user-details {
  display: inline;
}

/* line 14, assetic_compass9f5VkO.scss */
.user-details span {
  margin-left: 20px;
  font-size: 15px;
}
