/* line 2, assetic_compass0cRETD.scss */
#register-form h3 {
  text-align: center;
}
/* line 6, assetic_compass0cRETD.scss */
#register-form .checkbox, #register-form .form-group {
  text-align: center;
}
/* line 10, assetic_compass0cRETD.scss */
#register-form #submit-button {
  text-align: center;
}
/* line 14, assetic_compass0cRETD.scss */
#register-form .register-terms {
  text-align: center;
  margin-bottom: 10px;
}
