@import url(http://fonts.googleapis.com/css?family=Lato);
/* line 4, assetic_compassFthgJQ.scss */
.clear {
  display: block;
  clear: both;
  content: "";
}

/* line 10, assetic_compassFthgJQ.scss */
html {
  min-height: 100%;
  height: 100% !important;
}

/* line 15, assetic_compassFthgJQ.scss */
body, html {
  font-family: 'Lato', sans-serif;
  background-color: #eee;
  height: 100%;
}

/* line 22, assetic_compassFthgJQ.scss */
#page-wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto-75px;
}

/* line 30, assetic_compassFthgJQ.scss */
#page-wrap:after {
  height: 75px;
}

/* line 34, assetic_compassFthgJQ.scss */
footer#footer-main {
  margin-top: 40px;
  height: 75px;
  width: 100%;
  background-color: #022B52;
}

/* line 41, assetic_compassFthgJQ.scss */
#content-wrap {
  padding-bottom: 75px;
  padding-top: 180px;
  -webkit-transition: margin-top 0.3s;
  -moz-transition: margin-top 0.3s;
  -ms-transition: margin-top 0.3s;
  -o-transition: margin-top 0.3s;
  transition: margin-top 0.3s;
}

/* line 51, assetic_compassFthgJQ.scss */
#content-wrap.smaller {
  padding-top: 105px;
}

/* line 55, assetic_compassFthgJQ.scss */
header {
  height: 150px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  background-color: #022B52;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}
/* line 69, assetic_compassFthgJQ.scss */
header h1#logo {
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 150px;
  line-height: 150px;
  float: left;
  font-size: 60px;
  color: white;
  font-weight: 400;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 85, assetic_compassFthgJQ.scss */
header h1#logo a {
  color: white;
}
/* line 90, assetic_compassFthgJQ.scss */
header nav {
  display: inline-block;
  float: right;
}
/* line 94, assetic_compassFthgJQ.scss */
header nav .nav-avatar {
  background: #9fdbfc;
  float: right;
  height: 55px;
  width: auto;
  margin: 10px 0 10px 10px;
  padding: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
/* line 105, assetic_compassFthgJQ.scss */
header nav .nav-avatar img {
  height: 100%;
  width: auto;
}
/* line 111, assetic_compassFthgJQ.scss */
header nav > ul {
  width: auto;
  list-style-type: none;
  float: right;
}
/* line 115, assetic_compassFthgJQ.scss */
header nav > ul > li {
  float: right;
}
/* line 117, assetic_compassFthgJQ.scss */
header nav > ul > li > a {
  line-height: 150px;
  margin-left: 20px;
  color: #9fdbfc;
  font-weight: 700;
  font-size: 18px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 130, assetic_compassFthgJQ.scss */
header nav > ul > li > a:hover {
  color: white;
}
/* line 136, assetic_compassFthgJQ.scss */
header nav > ul li.nav-dropdown ul {
  list-style-type: none;
  clear: both;
  position: absolute;
  background: #022B52;
  display: none;
  padding-left: 0;
}
/* line 145, assetic_compassFthgJQ.scss */
header nav > ul li.nav-dropdown ul li a {
  display: block;
  font-size: 12px;
  color: #9fdbfc;
  padding: 5px 20px;
}
/* line 152, assetic_compassFthgJQ.scss */
header nav > ul li.nav-dropdown ul li a:hover {
  background-color: #011120;
}

/* line 162, assetic_compassFthgJQ.scss */
header.smaller {
  height: 75px;
}
/* line 165, assetic_compassFthgJQ.scss */
header.smaller h1#logo {
  width: 150px;
  height: 75px;
  line-height: 75px;
  font-size: 30px;
}
/* line 171, assetic_compassFthgJQ.scss */
header.smaller h1#logo a {
  line-height: 75px;
}
/* line 179, assetic_compassFthgJQ.scss */
header.smaller nav > ul > li > a {
  line-height: 75px;
}

/* line 187, assetic_compassFthgJQ.scss */
.welcome-title {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

@media all and (max-width: 660px) {
  /* line 199, assetic_compassFthgJQ.scss */
  header h1#logo {
    display: block;
    float: none;
    margin: 0 auto;
    height: 100px;
    line-height: 100px;
    text-align: center;
  }
  /* line 208, assetic_compassFthgJQ.scss */
  header nav {
    display: block;
    float: none;
    height: 50px;
    text-align: center;
    margin: 0 auto;
  }
  /* line 215, assetic_compassFthgJQ.scss */
  header nav a {
    line-height: 50px;
    margin: 0 10px;
  }

  /* line 222, assetic_compassFthgJQ.scss */
  header.smaller {
    height: 75px;
  }
  /* line 225, assetic_compassFthgJQ.scss */
  header.smaller h1#logo {
    height: 40px;
    line-height: 40px;
    font-size: 30px;
  }
  /* line 231, assetic_compassFthgJQ.scss */
  header.smaller nav {
    height: 35px;
  }
  /* line 234, assetic_compassFthgJQ.scss */
  header.smaller nav a {
    line-height: 35px;
  }
}

