@import url(http://fonts.googleapis.com/css?family=Lato);
/* line 4, assetic_compassCYXxVu.scss */
.clear {
  display: block;
  clear: both;
  content: "";
}

/* line 10, assetic_compassCYXxVu.scss */
html {
  min-height: 100%;
  height: 100% !important;
}

/* line 15, assetic_compassCYXxVu.scss */
body, html {
  font-family: 'Lato', sans-serif;
  background-color: #eee;
  height: 100%;
}

/* line 22, assetic_compassCYXxVu.scss */
#page-wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto-75px;
}

/* line 30, assetic_compassCYXxVu.scss */
#page-wrap:after {
  height: 75px;
}

/* line 34, assetic_compassCYXxVu.scss */
footer#footer-main {
  margin-top: 40px;
  height: 75px;
  width: 100%;
  background-color: #022B52;
}

/* line 41, assetic_compassCYXxVu.scss */
#content-wrap {
  padding-bottom: 75px;
  padding-top: 180px;
  -webkit-transition: margin-top 0.3s;
  -moz-transition: margin-top 0.3s;
  -ms-transition: margin-top 0.3s;
  -o-transition: margin-top 0.3s;
  transition: margin-top 0.3s;
}

/* line 51, assetic_compassCYXxVu.scss */
#content-wrap.smaller {
  padding-top: 105px;
}

/* line 55, assetic_compassCYXxVu.scss */
header {
  height: 150px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  background-color: #022B52;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 65, assetic_compassCYXxVu.scss */
header h1#logo {
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 150px;
  line-height: 150px;
  float: left;
  font-size: 60px;
  color: white;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 77, assetic_compassCYXxVu.scss */
header h1#logo a {
  color: white;
}
/* line 82, assetic_compassCYXxVu.scss */
header nav {
  display: inline-block;
  float: right;
}
/* line 86, assetic_compassCYXxVu.scss */
header nav .nav-avatar {
  background: #022B52;
  float: right;
  height: 55px;
  width: 55px;
  margin: 10px 0 10px 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
/* line 96, assetic_compassCYXxVu.scss */
header nav .nav-avatar img {
  height: 55px;
  width: 55px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
/* line 103, assetic_compassCYXxVu.scss */
header nav .nav-avatar:hover {
  -webkit-box-shadow: 0 0 5px 5px red;
  -moz-box-shadow: 0 0 5px 5px red;
  box-shadow: 0 0 5px 5px red;
}
/* line 107, assetic_compassCYXxVu.scss */
header nav > ul {
  width: auto;
  list-style-type: none;
  float: right;
}
/* line 111, assetic_compassCYXxVu.scss */
header nav > ul > li {
  float: right;
}
/* line 113, assetic_compassCYXxVu.scss */
header nav > ul > li > a {
  line-height: 150px;
  margin-left: 20px;
  color: #9fdbfc;
  font-weight: 700;
  font-size: 18px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 126, assetic_compassCYXxVu.scss */
header nav > ul > li > a:hover {
  color: white;
}
/* line 132, assetic_compassCYXxVu.scss */
header nav > ul li.nav-dropdown ul {
  list-style-type: none;
  clear: both;
  position: absolute;
  background: #022B52;
  display: none;
  padding-left: 0;
}
/* line 141, assetic_compassCYXxVu.scss */
header nav > ul li.nav-dropdown ul li a {
  display: block;
  font-size: 12px;
  color: #9fdbfc;
  padding: 5px 20px;
}
/* line 148, assetic_compassCYXxVu.scss */
header nav > ul li.nav-dropdown ul li a:hover {
  background-color: #011120;
}

/* line 158, assetic_compassCYXxVu.scss */
header.smaller {
  height: 75px;
}
/* line 161, assetic_compassCYXxVu.scss */
header.smaller h1#logo {
  width: 150px;
  height: 75px;
  line-height: 75px;
  font-size: 30px;
}
/* line 167, assetic_compassCYXxVu.scss */
header.smaller h1#logo a {
  line-height: 75px;
}
/* line 175, assetic_compassCYXxVu.scss */
header.smaller nav > ul > li > a {
  line-height: 75px;
}

/* line 183, assetic_compassCYXxVu.scss */
.welcome-title {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

@media all and (max-width: 700px) {
  /* line 194, assetic_compassCYXxVu.scss */
  header.smaller {
    display: block;
    position: relative;
    height: auto !important;
  }
  /* line 199, assetic_compassCYXxVu.scss */
  header.smaller h1#logo {
    display: block;
    float: none;
    margin: 0 auto;
    height: 100px;
    line-height: 100px;
    text-align: center;
  }
  /* line 208, assetic_compassCYXxVu.scss */
  header.smaller nav {
    display: block;
    float: none;
    height: auto !important;
    text-align: center;
    margin: 0 auto;
  }
  /* line 215, assetic_compassCYXxVu.scss */
  header.smaller nav .nav-avatar {
    display: none;
  }
  /* line 219, assetic_compassCYXxVu.scss */
  header.smaller nav ul {
    float: none;
    padding-left: 0;
    padding-top: 20px;
  }
  /* line 224, assetic_compassCYXxVu.scss */
  header.smaller nav ul li {
    float: none;
  }
  /* line 226, assetic_compassCYXxVu.scss */
  header.smaller nav ul li a {
    line-height: 50px;
    margin: 0 10px;
  }
  /* line 231, assetic_compassCYXxVu.scss */
  header.smaller nav ul li ul {
    position: relative;
    padding-top: 0;
  }
  /* line 236, assetic_compassCYXxVu.scss */
  header.smaller nav ul li ul li a {
    height: 30px;
    line-height: 30px;
    padding: 0;
  }

  /* line 248, assetic_compassCYXxVu.scss */
  header.smaller {
    height: 75px;
  }
  /* line 251, assetic_compassCYXxVu.scss */
  header.smaller h1#logo {
    height: 40px;
    line-height: 40px;
    font-size: 30px;
  }
  /* line 257, assetic_compassCYXxVu.scss */
  header.smaller nav {
    height: 35px;
  }
  /* line 260, assetic_compassCYXxVu.scss */
  header.smaller nav a {
    line-height: 35px;
  }
}
/* line 267, assetic_compassCYXxVu.scss */
.search-wrap {
  display: inline;
  line-height: 75px;
  margin-right: 50px;
}
/* line 272, assetic_compassCYXxVu.scss */
.search-wrap input[type="text"] {
  margin-right: 10px;
}

/* line 277, assetic_compassCYXxVu.scss */
.search-trigger {
  width: 50px;
  height: 50px;
  float: left;
  background: white;
  text-align: center;
  display: block;
  font-size: 18px;
  color: #022B52;
  margin-top: 13px;
  padding: 0 10px;
  margin-right: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
/* line 293, assetic_compassCYXxVu.scss */
.search-trigger span {
  line-height: 50px;
}

/* line 298, assetic_compassCYXxVu.scss */
.search-trigger:hover {
  cursor: pointer;
  background: red;
  color: #9fdbfc;
  -webkit-box-shadow: 0px 0px 5px 5px white;
  -moz-box-shadow: 0px 0px 5px 5px white;
  box-shadow: 0px 0px 5px 5px white;
}
