@import url(../../fonts/Lato/Lato-Regular.css);
@import url(../../fonts/Lato/Lato-Regular.css);
/* line 25, ../home/wojtek/Documents/public_html/inzynier/web/sass/partials/_buttons.scss */
button.btn-custom-red, button.button-red {
  height: 100%;
  width: 200px;
  border: 2px solid #cc0029;
  text-transform: uppercase;
  font-weight: bold;
  color: #cc0029;
  background: transparent;
  border-radius: 0px;
}
/* line 13, ../home/wojtek/Documents/public_html/inzynier/web/sass/partials/_buttons.scss */
button.btn-custom-red a, button.button-red a {
  color: #cc0029;
  text-decoration: none;
}
/* line 19, ../home/wojtek/Documents/public_html/inzynier/web/sass/partials/_buttons.scss */
button.btn-custom-red:hover, button.button-red:hover {
  border: 2px solid #99001f;
  color: #99001f;
}

/* line 29, ../home/wojtek/Documents/public_html/inzynier/web/sass/partials/_buttons.scss */
button.button-green {
  height: 100%;
  width: 200px;
  border: 2px solid green;
  text-transform: uppercase;
  font-weight: bold;
  color: green;
  background: transparent;
  border-radius: 0px;
}
/* line 13, ../home/wojtek/Documents/public_html/inzynier/web/sass/partials/_buttons.scss */
button.button-green a {
  color: green;
  text-decoration: none;
}
/* line 19, ../home/wojtek/Documents/public_html/inzynier/web/sass/partials/_buttons.scss */
button.button-green:hover {
  border: 2px solid #004d00;
  color: #004d00;
}

/* line 33, ../home/wojtek/Documents/public_html/inzynier/web/sass/partials/_buttons.scss */
button.button-blue {
  height: 100%;
  width: 200px;
  border: 2px solid #022B52;
  text-transform: uppercase;
  font-weight: bold;
  color: #022B52;
  background: transparent;
  border-radius: 0px;
}
/* line 13, ../home/wojtek/Documents/public_html/inzynier/web/sass/partials/_buttons.scss */
button.button-blue a {
  color: #022B52;
  text-decoration: none;
}
/* line 19, ../home/wojtek/Documents/public_html/inzynier/web/sass/partials/_buttons.scss */
button.button-blue:hover {
  border: 2px solid #011120;
  color: #011120;
}

/* line 5, assetic_compassAWymeR.scss */
.file-type-image {
  width: 300px;
  height: auto;
}

/* line 9, assetic_compassAWymeR.scss */
.clear {
  display: block;
  clear: both;
  content: "";
}

/* line 15, assetic_compassAWymeR.scss */
html {
  min-height: 100%;
  height: 100% !important;
}

/* line 20, assetic_compassAWymeR.scss */
body, html {
  font-family: 'Lato', sans-serif;
  background-color: #f9f8f8;
  height: 100%;
}

/* line 27, assetic_compassAWymeR.scss */
#page-wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto-75px;
}

/* line 35, assetic_compassAWymeR.scss */
#page-wrap:after {
  height: 75px;
}

/* line 39, assetic_compassAWymeR.scss */
footer#footer-main {
  margin-top: 40px;
  height: 75px;
  width: 100%;
  background-color: #022B52;
}

/* line 46, assetic_compassAWymeR.scss */
#content-wrap {
  padding-bottom: 75px;
  padding-top: 180px;
  -webkit-transition: margin-top 0.3s;
  -moz-transition: margin-top 0.3s;
  -ms-transition: margin-top 0.3s;
  -o-transition: margin-top 0.3s;
  transition: margin-top 0.3s;
}

/* line 56, assetic_compassAWymeR.scss */
#content-wrap.smaller {
  padding-top: 105px;
}

/* line 60, assetic_compassAWymeR.scss */
header {
  height: 150px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  background-color: #022B52;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 70, assetic_compassAWymeR.scss */
header h1#logo {
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 150px;
  line-height: 150px;
  float: left;
  font-size: 60px;
  color: white;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 82, assetic_compassAWymeR.scss */
header h1#logo a {
  color: white;
}
/* line 87, assetic_compassAWymeR.scss */
header nav {
  display: inline-block;
  float: right;
}
/* line 91, assetic_compassAWymeR.scss */
header nav .nav-avatar {
  background: #022B52;
  float: right;
  height: 55px;
  width: 55px;
  margin: 10px 0 10px 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
/* line 101, assetic_compassAWymeR.scss */
header nav .nav-avatar img {
  height: 55px;
  width: 55px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
/* line 108, assetic_compassAWymeR.scss */
header nav .nav-avatar:hover {
  -webkit-box-shadow: 0 0 5px 5px red;
  -moz-box-shadow: 0 0 5px 5px red;
  box-shadow: 0 0 5px 5px red;
}
/* line 112, assetic_compassAWymeR.scss */
header nav > ul {
  width: auto;
  list-style-type: none;
  float: right;
}
/* line 116, assetic_compassAWymeR.scss */
header nav > ul > li {
  float: right;
}
/* line 118, assetic_compassAWymeR.scss */
header nav > ul > li > a {
  line-height: 150px;
  margin-left: 20px;
  color: #9fdbfc;
  font-weight: 700;
  font-size: 18px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 131, assetic_compassAWymeR.scss */
header nav > ul > li > a:hover {
  color: white;
}
/* line 137, assetic_compassAWymeR.scss */
header nav > ul li.nav-dropdown ul {
  list-style-type: none;
  clear: both;
  position: absolute;
  background: #022B52;
  display: none;
  padding-left: 0;
}
/* line 146, assetic_compassAWymeR.scss */
header nav > ul li.nav-dropdown ul li a {
  display: block;
  font-size: 12px;
  color: #9fdbfc;
  padding: 5px 20px;
}
/* line 153, assetic_compassAWymeR.scss */
header nav > ul li.nav-dropdown ul li a:hover {
  background-color: #011120;
}

/* line 163, assetic_compassAWymeR.scss */
header.smaller {
  height: 75px;
}
/* line 166, assetic_compassAWymeR.scss */
header.smaller h1#logo {
  width: 150px;
  height: 75px;
  line-height: 75px;
  font-size: 30px;
}
/* line 172, assetic_compassAWymeR.scss */
header.smaller h1#logo a {
  line-height: 75px;
}
/* line 180, assetic_compassAWymeR.scss */
header.smaller nav > ul > li > a {
  line-height: 75px;
}

/* line 188, assetic_compassAWymeR.scss */
.welcome-title {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

/* line 196, assetic_compassAWymeR.scss */
ul.nav-notifications {
  float: left;
}
/* line 199, assetic_compassAWymeR.scss */
ul.nav-notifications li {
  position: relative;
}
/* line 202, assetic_compassAWymeR.scss */
ul.nav-notifications li .search-dropdown, ul.nav-notifications li .requests-dropdown {
  position: absolute;
  top: 75px;
  left: 0;
  width: 350px;
}
/* line 210, assetic_compassAWymeR.scss */
ul.nav-notifications > li > a {
  color: #022B52;
  background: white;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px !important;
  text-align: center;
  font-size: 15px;
  margin-top: 13px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
/* line 225, assetic_compassAWymeR.scss */
ul.nav-notifications > li > a:hover {
  text-decoration: none;
}
/* line 231, assetic_compassAWymeR.scss */
ul.nav-notifications .search-trigger:hover {
  cursor: pointer;
  background: red;
  color: #9fdbfc;
  -webkit-box-shadow: 0px 0px 5px 5px white;
  -moz-box-shadow: 0px 0px 5px 5px white;
  box-shadow: 0px 0px 5px 5px white;
}
/* line 240, assetic_compassAWymeR.scss */
ul.nav-notifications .pending-requests-trigger:hover {
  cursor: pointer;
  background: #034584;
  color: #9fdbfc;
  -webkit-box-shadow: 0px 0px 5px 5px;
  -moz-box-shadow: 0px 0px 5px 5px;
  box-shadow: 0px 0px 5px 5px;
}

/* line 252, assetic_compassAWymeR.scss */
.requests-dropdown ul.requests-results li {
  text-align: center;
}
/* line 255, assetic_compassAWymeR.scss */
.requests-dropdown ul.requests-results li img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
/* line 261, assetic_compassAWymeR.scss */
.requests-dropdown ul.requests-results li button {
  margin-left: 10px;
}

/* line 268, assetic_compassAWymeR.scss */
.search-dropdown {
  list-style-type: none;
}

/* line 272, assetic_compassAWymeR.scss */
.search-dropdown, .requests-dropdown {
  background: #022B52;
  padding: 10px 10px;
}
/* line 276, assetic_compassAWymeR.scss */
.search-dropdown > li, .requests-dropdown > li {
  padding: 10px 20px;
}

/* line 281, assetic_compassAWymeR.scss */
a.nav-btn-clicked {
  background: green !important;
  color: white !important;
}

/* line 286, assetic_compassAWymeR.scss */
.search-results {
  list-style-type: none;
  padding: 0 20px;
  color: white;
}
/* line 291, assetic_compassAWymeR.scss */
.search-results img {
  width: 40px;
  height: auto;
  margin-right: 5px;
}

@media all and (max-width: 880px) {
  /* line 302, assetic_compassAWymeR.scss */
  header.smaller nav ul li a {
    font-size: 13px;
  }

  /* line 307, assetic_compassAWymeR.scss */
  .nav-links {
    padding-left: 0;
  }
}
@media all and (max-width: 768px) {
  /* line 314, assetic_compassAWymeR.scss */
  header.smaller {
    display: block;
    position: relative;
    height: auto !important;
  }
  /* line 319, assetic_compassAWymeR.scss */
  header.smaller h1#logo {
    display: block;
    float: none;
    margin: 0 auto;
    height: 100px;
    line-height: 100px;
    text-align: center;
  }
  /* line 328, assetic_compassAWymeR.scss */
  header.smaller nav {
    display: block;
    float: none;
    height: auto !important;
    text-align: center;
    margin: 0 auto;
  }
  /* line 335, assetic_compassAWymeR.scss */
  header.smaller nav .nav-avatar {
    display: none;
  }
  /* line 339, assetic_compassAWymeR.scss */
  header.smaller nav ul {
    float: none;
    padding-left: 0;
    padding-top: 20px;
  }
  /* line 344, assetic_compassAWymeR.scss */
  header.smaller nav ul li {
    float: none;
  }
  /* line 346, assetic_compassAWymeR.scss */
  header.smaller nav ul li a {
    line-height: 50px;
    margin: 0 10px;
  }
  /* line 351, assetic_compassAWymeR.scss */
  header.smaller nav ul li ul {
    position: relative;
    padding-top: 0;
  }
  /* line 356, assetic_compassAWymeR.scss */
  header.smaller nav ul li ul li a {
    height: 30px;
    line-height: 30px;
    padding: 0;
  }

  /* line 368, assetic_compassAWymeR.scss */
  .nav-notifications {
    margin-top: 10px;
  }
  /* line 371, assetic_compassAWymeR.scss */
  .nav-notifications li {
    display: inline-block;
  }

  /* line 376, assetic_compassAWymeR.scss */
  ul.nav-links {
    padding-top: 0 !important;
  }

  /* line 380, assetic_compassAWymeR.scss */
  header.smaller {
    height: 75px;
  }
  /* line 383, assetic_compassAWymeR.scss */
  header.smaller h1#logo {
    height: 40px;
    line-height: 40px;
    font-size: 30px;
  }
  /* line 389, assetic_compassAWymeR.scss */
  header.smaller nav {
    height: 35px;
  }
  /* line 392, assetic_compassAWymeR.scss */
  header.smaller nav a {
    line-height: 35px;
  }
}
