@import url(../../fonts/Lato/Lato-Regular.css);
/* line 4, assetic_compassnb83hP.scss */
.row {
  overflow: hidden !important;
  margin: 0;
}

/* line 9, assetic_compassnb83hP.scss */
[class*="col-"] {
  margin-bottom: -99999px !important;
  padding-bottom: 99999px !important;
}

/* line 14, assetic_compassnb83hP.scss */
#content-wrap.smaller {
  padding-top: 80px;
}

/* line 18, assetic_compassnb83hP.scss */
div#admin-header {
  margin: 0;
  color: white;
  background-color: #022B52;
}

/* line 24, assetic_compassnb83hP.scss */
div#admin-content {
  background-color: white;
  margin: 0;
  padding: 20px;
}

/* line 30, assetic_compassnb83hP.scss */
#admin-content-inner {
  padding-bottom: 20px;
}

/* line 34, assetic_compassnb83hP.scss */
div#admin-content-row {
  margin-right: 0;
}

/* line 38, assetic_compassnb83hP.scss */
div#admin-left-sidebar {
  padding-right: 0;
  padding-left: 0;
  background-color: #022B52;
}

/* line 44, assetic_compassnb83hP.scss */
ul#admin-left-nav {
  background-color: #022B52;
}
/* line 48, assetic_compassnb83hP.scss */
ul#admin-left-nav li a {
  color: white;
  border-radius: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease-out;
}
/* line 57, assetic_compassnb83hP.scss */
ul#admin-left-nav li a:hover {
  background-color: grey;
  font-weight: bold;
}
