#login-form {
  text-align: center;
}
#login-form .form-control {
  margin-bottom: 10px;
}
#login-form h3 {
  margin-bottom: 30px;
}
#login-form #login-form-inner {
  display: inline-block;
}
#login-form input[type="text"],
#login-form input[type="password"] {
  width: 100%;
  text-align: center;
}
#login-form button {
  margin-top: 10px;
}
.error-message {
  font-size: 15px;
}
