.admin-title {
    text-transform: uppercase;
}

.user-list li img {
    height: 50px;
    width: 50px;
}

.user-details {
    display: inline;
}

.user-details span {
    margin-left: 20px;
    font-size: 15px;
}