@import '../partials/variables';

.profile-wrap {
    
    h1 {
        text-align: center;
    }
    
    .profile-avatar {
        text-align: center;
        
        img {
            height: 100%;
            max-height: 150px;
            width: auto;
        }
    }
    
    form {
        .btn-submit {
            margin: 0 auto;
            text-align: center;
            
            button {
                color: $nav-link-color;
                background-color: $nav-color;
            }
            
            button:hover {
                background-color: lighten($nav-color, 10%);
            }
        }
    }
}