@import '../partials/variables';
@import '../partials/mixins';

.profile-wrap {
    
    h1 {
        text-align: center;
    }
    
    .profile-avatar {
        text-align: center;
        
        img {
            height: 100%;
            max-height: 400px;
            max-width: 400px;
            @include border-radius(50%);
        }
        
        img:hover {
            @include box-shadow(0 0 10px 10px $nav-color);
        }
    }
    
    form {
        .btn-submit {
            margin: 0 auto;
            text-align: center;
            
            button {
                color: $nav-link-color;
                background-color: $nav-color;
            }
            
            button:hover {
                background-color: lighten($nav-color, 10%);
            }
        }
    }
}

ul.sidebar-nav {
    $sidebar-color: red;
    
    li {
        background-color: transparent;
        border-radius: 0;
        border: 2px solid $nav-color;
            
        a {
            border-radius: 0;
            color: $nav-color;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            
            &:hover {
                background-color: #ccc;
            }
        }
    }
}

.nav-static {
    position: static;
}

//profile auctions page
ul.profile-auctions-list {
    margin-top: 30px;
    
    img.prof-auction-img {
        height: auto;
        width: 195px;
    }
    
    li {
        .auction-buttons {
            a {
                display: block;
                margin-bottom: 10px;
            }
        }
    }
}

td button {
    height: auto !important;
}