#register-form {
    h3 {
        text-align: center;
    }
    
    .checkbox, .form-group {
        text-align: center;
    }
    
    #submit-button {
        text-align: center;
    }

  .register-terms {
    text-align: center;
    margin-bottom: 10px;
  }
}