@import '../../fonts/Lato/Lato-Regular.css';

//colors
$bg-color: #f9f8f8; //#eee;
$footer-color: #022B52;
$nav-color: #022B52; //#262130; //#d9411e;
$nav-link-color: #9fdbfc;

//navigation bar parameters
$nav-height: 150px;
$nav-height-smaller: 75px;

$footer-height: 75px;


$nav-height-resp: 100px;