@import url(http://fonts.googleapis.com/css?family=Lato);

//colors
$bg-color: #eee;
$footer-color: #022B52;
$nav-color: #022B52;
$nav-link-color: #9fdbfc;

//navigation bar parameters
$nav-height: 150px;
$nav-height-smaller: 75px;

$footer-height: 75px;


$nav-height-resp: 100px;