.auction-form-wrap {
    input#auction_title {
        height: 40px;
        font-size: 15px;
    }
    
    textarea#auction_description {
        height: 300px;
    }
    
    div[id^="auction_images_"] {
        border: 1px solid #ccc;
        padding: 10px;
        margin-top: 10px;
        
        input[type="file"] {
            width: 50%;
        }
    }
    
    button[type="submit"] {
        margin-top: 20px;
    }
    
    button#image-add {
        margin-top: 10px;
    }
}