@import '../partials/mixins';

div.single-auction {
    .row {
        overflow: hidden;
        
        [class*="col-"] {
            padding-bottom: 9999px;
            margin-bottom: -9999px;
        }
    }
    .auction-image {
        text-align: center;
        display: table-row;
        vertical-align: middle;
        
        img {
            vertical-align: middle;
            max-height: 300px;
            max-width: 100%;
        }
    }
    
    .auction-meta {
        padding-top: 20px;
        font-size: 20px;
    }
    
    .auction-description {
        padding: 40px 10px;
        font-size: 18px;
    }
    
    .auction-views {
        padding: 10px;
        margin: 10px;
        background: #ccc;
        font-weight: bold;
        font-size: 15px;
    }
    
    .auction-category {
        span {
            margin: 10px 0;
            text-align: center;
            background: #333;
            display: block;
            color: white;
            width: 300px;
            padding: 10px;
        }
    }
}