{% extends 'admin/index.html.twig' %}

{% block admin_page_content %}
    <a href="{{ path('admin_category_add') }}">
        <button class="btn btn-default button-blue">
            Add category
        </button>
    </a>
{% endblock %}