@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/buttons';

.file-type-image {
    width: 300px;
    height: auto;
}
.clear {
  display: block;
  clear: both;
  content: "";
}

html {
  min-height: 100%;
  height: 100% !important;
}

body, html {
    font-family: 'Lato', sans-serif;
    //background: url('../../images/quilt.png');
    background-color: $bg-color;
    height: 100%;
}

#page-wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -$footer-height;
}

#page-wrap:after {
  height: $footer-height;
}

footer#footer-main {
  margin-top: 40px;
  height: $footer-height;
  width: 100%;
  background-color: $footer-color;
}

#content-wrap {
  padding-bottom: $footer-height;
  padding-top: $nav-height + 30px;
  -webkit-transition: margin-top 0.3s;
  -moz-transition: margin-top 0.3s;
  -ms-transition: margin-top 0.3s;
  -o-transition: margin-top 0.3s;
  transition: margin-top 0.3s;
}

#content-wrap.smaller {
  padding-top: $nav-height-smaller + 30px;
}

header {
  height: $nav-height;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  background-color: $nav-color;//#0683c9;
  @include transition(all, 0.3s, ease-in-out);

  h1#logo {
    margin: 0;
    padding: 0;
    display: inline-block;
    height: $nav-height;
    line-height: $nav-height;
    float: left;
    font-size: 60px;
    color: white;
    font-weight: 400;
    @include transition(all, 0.3s, ease-in-out);

    a {
      color: white;
    }
  }

  nav {
    display: inline-block;
    float: right;
    
    .nav-avatar {
        background: $nav-color;
        float: right;
        height: $nav-height-smaller - 20px;
        width: $nav-height-smaller - 20px;
        margin: 10px 0 10px 10px;
        
        @include border-radius(50%);
        
        
        img {
            height: $nav-height-smaller - 20px;
            width: $nav-height-smaller - 20px;
            @include border-radius(50%);
        }
    }
    
    .nav-avatar:hover {
        @include box-shadow(0 0 5px 5px red);
    }
    
    > ul {
        width: auto;
        list-style-type: none;
        float: right;
        > li {
            float: right;
            > a {
                line-height: $nav-height;
                margin-left: 20px;
                color: $nav-link-color;
                font-weight: 700;
                font-size: 18px;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -ms-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
            }

            > a:hover {
              color: white;
            }
        }
        
        li.nav-dropdown {
            ul {
                list-style-type: none;
                clear: both;
                position: absolute;
                background: $nav-color;
                display: none;
                padding-left: 0;

                li {
                    a {
                        display: block;
                        font-size: 12px;
                        color: $nav-link-color;
                        padding: 5px 20px;
                    }
                    
                    a:hover {
                        background-color: darken($nav-color, 10%);
                    }
                }
            }
        }
    }
}
}

header.smaller {
  height: $nav-height-smaller;

  h1#logo {
    width: 150px;
    height: $nav-height-smaller;
    line-height: $nav-height-smaller;
    font-size: 30px;
    
    a {
      line-height: $nav-height-smaller;
    }
  }

  nav {
      > ul {
        > li {
            > a {
              line-height: $nav-height-smaller;
            }
        }
      }
  }
}

.welcome-title {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

//notifications bar settings
ul.nav-notifications {
    float: left;
    
    li {
        position: relative;
        
        .search-dropdown, .requests-dropdown {
            position: absolute;
            top: $nav-height-smaller;
            left: 0;
            width: 350px;
        }
    }
    
    >li>a {
        color: $nav-color;
        background: white;
        display: block;
        width: 50px;
        height: 50px;
        line-height: 50px !important;
        text-align: center;
        font-size: 15px;
        margin-top: $nav-height-smaller - 62px;
        text-decoration: none;
        
        @include transition(all, 0.3s, ease-in-out);
        @include border-radius(50%);
        
        &:hover {
            text-decoration: none;
        }
    }
    
    .search-trigger {
        &:hover {
            cursor: pointer;
            background: red;
            color: $nav-link-color;
            @include box-shadow(0px 0px 5px 5px white); 
        }
    }
    
    .pending-requests-trigger {
        &:hover{
            cursor: pointer;
            background: lighten($nav-color, 10%);
            color: $nav-link-color;
            @include box-shadow(0px 0px 5px 5px);
        }
    }
}


.requests-dropdown {
    ul.requests-results {
        li {
            text-align: center;
            
            img {
                height: 40px;
                width: 40px;
                margin-right: 10px;
            }
            
            button {
                margin-left: 10px;
            }
        }
    }
}

.search-dropdown {
    list-style-type: none;
}

.search-dropdown, .requests-dropdown {
    background: $nav-color;
    padding: 10px 10px;

    > li {
        padding: 10px 20px;
    }
}

a.nav-btn-clicked {
    background: green !important;
    color: white !important;
}

.search-results {
    list-style-type: none;
    padding: 0 20px;
    color: white;
    
    img {
        width: 40px;
        height: auto;
        margin-right: 5px;
    }
}


@media all and (max-width: 880px) {
    
    header.smaller {
        nav ul li a {
            font-size: 13px;
        }
    }
    
    .nav-links {
        padding-left: 0;
    }
}


@media all and (max-width: 768px) {
  header.smaller {
    display: block;
    position: relative;
    height: auto !important;
    
    h1#logo {
      display: block;
      float: none;
      margin: 0 auto;
      height: $nav-height-resp;
      line-height: $nav-height-resp;
      text-align: center;
    }

    nav {
      display: block;
      float: none;
      height: auto !important;
      text-align: center;
      margin: 0 auto;
      
      .nav-avatar {
          display: none;
      }
      
      ul {
          float: none;
          padding-left: 0;
          padding-top: 20px;
          
          li {
              float: none;
                a {
                      line-height: 50px;
                      margin: 0 10px;
                }
                
                ul {
                    position: relative;
                    padding-top: 0;
                    
                    li {
                        a {
                            height: 30px;
                            line-height: 30px;
                            padding: 0;
                        }
                    }
                }
          }
      }
    }
  }
    
  .nav-notifications {
      margin-top: 10px;
      
      li {
          display: inline-block;
      }
  }
  
  ul.nav-links {
      padding-top: 0 !important;
  }

  header.smaller {
    height: 75px;

    h1#logo {
      height: 40px;
      line-height: 40px;
      font-size: 30px;
    }

    nav {
      height: 35px;

      a {
        line-height: 35px;
      }
    }
  }
}

//pagination styling
div.pagination-big div.pagination {
    span.first, span.previous, span.page, span.next, span.last {
        a {
            padding: 10px;
            background-color: #888;
            margin: 0;
            font-size: 15px;
            font-weight: bold;
            color: white;
            @include border-radius(5px);
            
            &:hover {
                background-color: darken($nav-link-color, 70%);
            }
        }
    }
    
    span.current {
        padding: 10px;
        background-color: darken($nav-link-color, 80%);
        font-size: 15px;
        font-weight: bold;
        color: white;
        @include border-radius(5px);
    }
    
}

div.pagination-small div.pagination {
    span.first, span.previous, span.page, span.next, span.last {
        a {
            padding: 6px;
            background-color: #888;
            margin: 0;
            font-size: 13px;
            font-weight: bold;
            color: white;
            @include border-radius(5px);
            
            &:hover {
                background-color: darken($nav-link-color, 70%);
            }
        }
    }
    
    span.current {
        padding: 6px;
        background-color: darken($nav-link-color, 80%);
        font-size: 13px;
        font-weight: bold;
        color: white;
        @include border-radius(5px);
    }
}

.auction-votes, .post-votes { 
    margin-top: 10px;
    font-size: 15px;
    
    .votes-up, .votes-down {
        border: 1px solid #aaa;
        display: inline-block;
        padding: 2px 4px;
        @include border-radius(2px);
        
        .votes-up-count {
            color: green;
            font-weight: bold;
        }
        
        .vote-up {
            &:hover {
                color: green;
                cursor: pointer;
            }
        }
        
        .votes-down-count {
            color: red;
        }
        
        .vote-down {
            &:hover {
                color: red;
                cursor: pointer;
            }
        }
    }
}

.comments-home {
    display: none;
}

.comment-entry {
    border: 2px solid #ccc;
    margin-top: 10px;
    padding-top: 5px;
}

.wall-avatar {
    height: 40px;
    width: 40px;
}

.search-user, .search-auction {
    margin-bottom: 5px;
}